.selector-for-some-widget {
    box-sizing: content-box;
}

html,
body {
    box-sizing: content-box;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}


/* NAV */

.navbar-nav {
    margin: 1.5em;
}

.navbar-nav a {
    font-size: 1.5em;
    margin-right: 1em;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: white!important;
    transform: translateY(-2px);
}

@media (max-width: 576px) {
    .navbar-nav a {
        font-size: 1.5em;
        margin-right: 0;
    }
}

@media (max-width: 1080px) {
    .botonesDerecha {
        display: none;
    }
}

@media (max-width: 965px) {
    .navbar-nav a {
        font-size: 1em;
    }
    .botonesDerecha {
        display: none;
    }
}


/* PRIMER CONTAINER */

.containerPrincipal {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-items: center;
    color: white;
    height: 88vh;
}

.primerRow {
    height: 65%;
}

.border {
    padding: 15px;
}

.buttonI {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.7), 0 6px 20px 0 rgba(255, 255, 255, 0.7);
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 1% 15%;
    background-color: rgba(0, 0, 0, 0.472);
    border: 2px solid black;
    border-radius: 12px;
}

.flecha {
    height: 50%;
}

@media (max-width: 600px) {
    .containerPrincipal {
        background-image: url(../img/bg-phone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .buttonI {
        font-size: larger;
        width: max-content;
    }
}


/* CUENTA ATRAS */

.cuentaAtras {
    background-color: dimgray;
    color: black;
    height: 15vh;
}

@media (max-width: 600px) {
    .compteCB {
        display: none;
    }
}


/* BENVINGUDA */

.containerBenvinguda {
    background-color: firebrick;
    height: 75vh;
}


/* CLASSIFICACIONS */

.containerClassificacions {
    text-align: center;
    justify-items: center;
    background-color: lightseagreen;
    height: 20vh;
}

.classificacionsRow {
    height: 100%;
}


/* NOTICIES */

.containerNoticies {
    background-color: tomato;
    padding: 1.5rem 1rem;
}

.card-body p {
    color: black;
}


/* INSCRIPCIO */

.inscripcioDiv {
    height: 80%;
    background-image: url(../img/bgInsc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 576px) {
    .inscripcioDiv {
        height: 100vh;
    }
}

.inscRow {
    height: 100%;
}

.img-fluid {
    min-width: 279px;
}


/* FOOTER */

.page-footer {
    background-color: rgb(52, 58, 64);
    color: black;
}

.footer-copyright {
    background-color: rgb(56, 62, 68);
}

.redes {
    width: fit-content;
}

.redes a {
    width: 50px!important;
}